{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <style>
        h2{
            text-align: center;
            margin: 50px;
        }
        h3{
            text-align: center;
        }
        .imgCompte {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        .profile{
            display: flex;
            align-content: center;
            flex-flow:wrap column;
            margin-top: 50px;
        }
        ul{
            color: black;
        }
    </style>

    <div class="mainCompte">
    <div class="imgCompte">
        <img  src="/asset/mon_compte_logo.png" alt="Bulle mon compte" height="300px">
    </div>
    <div class="bande">
    <h2>MON PROFIL</h2>
    </div>
        <div class="editProfile">
    {{ form(form) }}
        </div>

<div class="bande">
    <h2>MES BD AMATEURS</h2></div>
    <div class="BD_Amateur">
        <h3>Work in progress...</h3>
    </div>
    <div class="bande">
    <h2>COMMANDES</h2>
    </div>
        <div class="Commande">
        <h3>Work in progress...</h3>
    </div>
        <div class="bande">
    <h2>MES BD À VENDRE</h2>
        </div>
    <div class="BD_Vendre">
        <h3>Work in progress...</h3>
    </div>

    </div>
{% endblock %}
