{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}

<style>
    .mdp{
        display:flex;
        text-align: center;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin: 2%;
        background-color: #DEF7FF;
        padding: 3%;
    }
</style>

    <form method="post">
        <div class="mdp">
        <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
            <div class="mdp_formulaire">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

        <button id="actu_formulaire_save" type="submit">
            Send mail !

        </button>
            </div>
    </div>
    </form>

{% endblock %}
