{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
<style>
.main{
	margin: 2%;
	background-color: #DEF7FF;
	padding-bottom: 5%;
	padding-top: 1%;

}
.container{
	height: 100%;
	align-content: center;
	margin-top:100px;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: hsla(14, 100%, 53%, 0);
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header{
background-color: #F5F5F5;
display:flex;
justify-content:center;
color:black;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
.input-group-prepend{
	width: 55px;
}

.input-group-prepend span{
width: 50px;
background-color: white;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: black;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}

	.card-footer{
		background-color: #F5F5F5;
	}

	.card-body{
		background-color: white;
	}

</style>
<div class="main">
<form method="post">
<div class="container">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Connexion</h3>
				
			</div>
				<div class="card-body">
					<form>

 			<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>

						<input type="inputEmail" class="form-control" placeholder="adresse mail" value="{{ last_username }}"  name="email" id="inputEmail" required autofocus>
						
					</div>

    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password" id="inputPassword" placeholder="mot de passe" required>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Se souvenir de moi ?
					</div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

  

    <div class="form-group">
						<input type="submit" value="connexion" class="btn float-right login_btn">
	</div>
	</div>
	</form>

			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Pas encore inscrit ?<a href="/register">Inscription</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="/forgotten_password">Mot de passe oublié ?</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</form>
	</div>
{% endblock %}
