{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
    <style>

        body{
            margin: 0;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.6;
            color: #212529;
            text-align: left;
            background-color: white;
        }

        .navbar-laravel
        {
            box-shadow: 0 2px 4px rgba(0,0,0,.04);
        }

        h1{
            text-align: center ;
        }



        .my-form
        {
            background-color: #E3F5FF;
            padding: 2%;
            margin: 2%;
        }

        .my-form .row
        {
            margin-left: 0;
            margin-right: 0;
        }

        .login-form
        {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        .login-form .row
        {
            margin-left: 0;
            margin-right: 0;
        }
        #pseudo{
            display:flex;

        }
        .form-control{
            width: 70%;
        }

        .btn{
            display:flex;
            justify-content: flex-end;
        }

        .offset-md-4{
            margin-left: 62%;
        }

        #inscription_button{
            margin-top: 10%;
            height: 40px;
            width: 80px;
            background-color: #1DACD6;
            color: white;
            border: none;
        }
    </style>


    <main class="my-form">
        <h1>S'inscrire</h1>
        <form method="post">
            <div class="card-body">
                <form name="my-form" onsubmit="return validform()" action="success.php" method="">
                    <div class="form-group row">
                        <label for="full_name" class="col-md-4 col-form-label text-md-right">Pseudonyme*</label>
                        <div class="col-md-6">
                            <input type="text" id="inputUsername" class="form-control" name="username" required autofocus>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email_address" class="col-md-4 col-form-label text-md-right">Nom</label>
                        <div class="col-md-6">
                            <input type="text" id="inputName" class="form-control" name="name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user_name" class="col-md-4 col-form-label text-md-right">Prénom</label>
                        <div class="col-md-6">
                            <input type="text" id="inputFirstName" class="form-control" name="firstName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="phone_number" class="col-md-4 col-form-label text-md-right">E-Mail*</label>
                        <div class="col-md-6">
                            <input type="email" id="inputEmail" class="form-control" name="email" required autofocus>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="present_address" class="col-md-4 col-form-label text-md-right">Mot de passe*</label>
                        <div class="col-md-6">
                            <input type="password" id="inputPassword" class="form-control"name="password" required autofocus>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="present_address" class="col-md-4 col-form-label text-md-right">Adresse</label>
                        <div class="col-md-6">
                            <input type="text" id="inputAdress" class="form-control" name="adress">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Code postal</label>
                        <div class="col-md-6">
                            <input type="text" id="inputPostalCode" class="form-control" name="postalcode">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nid_number" class="col-md-4 col-form-label text-md-right">Ville </label>
                        <div class="col-md-6">
                            <input type="text" id="inputCity" class="form-control" name="city">
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-4">
                        <button type="submit" id="inscription_button">
                            Inscription
                        </button>
                    </div>
            </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        </form>


    </main>
{% endblock %}
