<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}header et footer{% endblock %}</title>

        	{% block stylesheets %}
            <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

            <link href="/asset/css/style.css" rel="stylesheet"> {% endblock %}
    </head>
    <body>

    <header>
        {% if is_granted('ROLE_ADMIN')%}
            <div class="inscription"><a href="/admin"><p>Administration</p></div>
            <div class="connexion"><a href="/logout"><p>Déconnexion</p></div>
        {% else %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="inscription"><a href="/account/{{ app.user.id }}"><p>Mon Compte</p></div>
            <div class="connexion"><a href="/logout"><p>Déconnexion</p></div>
        {% else %}
            <div class="connexion"><a href="/login"><p>Connexion</p></div>
            <div class="inscription"><a href="/register"><p>S'inscrire</p></div>
            {% endif %}
        {% endif %}
    </header>

      <a href="/">
          <img class="logo" src="/asset/logo.png" alt="logo_hippoBD" width="350" height="350">
      </a>
    <nav class=" navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link " href="/"><img src="/asset/home.png" width="20" height="20"></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#">Bibliothèque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BD Amateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/market">Marketplace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Forum</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Recherche...">
                        <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit"><img src="/asset/search.png" width=20px height=20px></button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

{% block body %}{% endblock %}




        {% block javascripts %}{% endblock %}
       </body>

    <footer>
        <div id="conditions">
            <ul id="general">
                <li class="liste"> A propos de nous</li>
                <li class="liste"> Contact</li>
                <li class="liste">Mentions Légales</li>
                <li class="liste">Confidentialité et cookies</li>
                <li class="liste">Conditions générales</li>
                <li class="liste">Plan du site web</li>
            </ul>
        </div>
        <p>&copy; Copyright 2020 HippoBD</p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>
