{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}


<div class="mainAdmin">
    <img class="adminlogo" src="/asset/admin_logo.png" alt="logo admin" width="450" height="380">
    <div class="bande">
        <h1>Actualités</h1>
    </div>
    <table class="table table-bordered admin">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Titre</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for actu in actus %}
        <tr>
            <td>{{ actu.id }}</td>
            <td>{{ actu.titre }}</td>
            <td><a href="{{ path('editActu', {id: actu.id}) }}" class="btn btn-secondary edit">Éditer</a>  </td>
            <td><a href="{{ path('supprActu', {id: actu.id}) }}" class="btn btn-secondary delete">Supprimer</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td class="addRow" colspan="4"><a href="{{ path('addActu') }}" class="btn btn-secondary add">Ajouter</a></td>
        </tr>
        </tbody>
    </table>


    <div class="bande">
        <h1>BD à vendre</h1>
    </div>
    <table class="table table-bordered admin">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Titre</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.titre }}</td>
                <td><a href="{{ path('editAlbum', {id: album.id}) }}" class="btn btn-secondary edit">Éditer</a></td>
                <td><a href="{{ path('supprAlbum', {id: album.id}) }}" class="btn btn-secondary delete">Supprimer</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td class="addRow" colspan="4"><a href="{{ path('addAlbum') }}" class="btn btn-secondary add">Ajouter</a></td>
        </tr>
        </tbody>
    </table>

</div>
{% endblock %}
