{% extends 'base.html.twig' %}

{% block title %}Supprimer un Album à vendre{% endblock %}

{% block body %}

<div class="deleteAlbumVendre">
   <h2>Supprimer un Album à vendre</h2>
       <p id="delete_album">Etes-vous sûr de vouloir supprimer l'album {{ album.titre }}?</p>
    <form method="post">
        {{ form_rest(form) }}
        <input type="submit" value="Supprimer" class="actu_formulaire_delete" />


    </form>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</div>

{% endblock %}
