{% extends 'base.html.twig' %}

{% block title %}Ajouter une BD à vendre{% endblock %}

{% block body %}
<div class="addAlbumVendre">
   <h2>Ajout d'un nouvel Album à vendre</h2>
   {{ form(form) }}

</div>
{% endblock %}
