{% extends 'base.html.twig' %}

{% block title %}Editer Album à vendre{% endblock %}

{% block body %}

<div class="editAlbumVendre">
   <h2>Modification d'un Album à vendre</h2>
   {{ form(form) }}

</div>
{% endblock %}
