{% extends 'base.html.twig' %}

{% block title %} /Market  {% endblock %}

{% block body %}
    <div class="tabMap">
        <h2>Trouvez la librairie la plus proche</h2>


            <table class="table table-bordered table-hover" style="width: 30%">
            <thead>
            <tr>
                <th scope="col" style="width:20%;"> Librairie</th>
                <th scope="col" style="width:20%;">Libraire</th>
                <th scope="col" style="width:30%;">Adresse</th>
                <th scope="col" style="width:10%;">Telephone</th>
            </tr>
            </thead>
            {% for Lib in librairies %}
                    <tbody>
                    <tr>
                    <th scope="row">{{ Lib.nom }}</th>
                    <td>{{ Lib.libraire }}</td>
                    <td>{{ Lib.adresse }}</td>
                    <td>{{ Lib.telephone }}</td>
                    </tr>
                    </tbody>
           {% endfor %}
            </table>
    <div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d44218.9699470231!2d-1.1634883689530617!3d46.157005984187215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1slibrairie!5e0!3m2!1sfr!2sfr!4v1579203739244!5m2!1sfr!2sfr" width="300" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>

    <div class="addFormLib">
        <h2>Ajoutez votre librairie</h2>
        {{ form(form) }}
    </div>

{% endblock %}