{% extends 'base.html.twig' %}

{% block title %}Supprimer une Actualité{% endblock %}

{% block body %}


<div class="deleteActu">
   <h2>Supprimer Actualité</h2>
    <p id="delete_actu">Etes-vous sûr de vouloir supprimer l'actualité {{ actu.titre }}?</p>
    <form method="post">
        {{ form_rest(form) }}
        <input type="submit" value="Supprimer" class="actu_formulaire_delete" />

        </form>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
