{% extends 'base.html.twig' %}

{% block title %}Editer Actualités{% endblock %}

{% block body %}

<div class="editActu">
   <h2>Modification d'une Actualité</h2>
   {{ form(form) }}

   </div>
{% endblock %}
