{% extends 'base.html.twig' %}

{% block title %}Ajouter une actualité{% endblock %}

{% block body %}

<div class="addActu">
   <h2>Ajouter d'une nouvelle actualité</h2>
   {{ form(form) }}
</div>

{% endblock %}
