{% extends 'base.html.twig' %}


{% block title %}Page d'accueil{% endblock %}

{% block body %}

  <div class="mainActu">
    {% for idx, actu in actus| reverse %}
      <div class="block{{ idx + 1 }}">
        <p class="p{{ idx + 1}}">
            <ul class="text_actu"><h5>{{ actu.titre }}</h5>
            <p>{{ actu.description }}</p></ul>
        </p>
      </div>
    {% endfor %}
  </div>



{% endblock %}
