@font-face{
    font-family: Shoujo Pop;
    src: url("shoujopop.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Shoujo Pop, Arial, Helvetica, sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}

header, footer{
    margin: 2%;
    background-color: #70a6fd;
    height: 250px;
    margin-top: 50px;
    border: 5px solid
}
footer{
    margin-bottom: 4%;
}


.bg-light {
    background-color: white !important;
}

.connexion a p{
    border: 3px solid black;
    background-color: white;
    height: 40px;
    width: 100px;
    position: absolute;
    top: 70px;
    right: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.inscription a p{
    border: 3px solid black;
    background-color: white;
    height: 40px;
    width: 100px;
    position: absolute;
    top: 70px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}



.logo{display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -325px
}

#navbarTogglerDemo02 ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: black;
    overflow: hidden;

    text-align: center;
    background-color: white;
    border: 2px solid;}

#navbarTogglerDemo02 ul li{
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.form-control{
    max-width: 70%;
    border: none;
}

.form-inline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainActu{
    width: 106%;
    margin: 4%;
    padding-top: 2%;
}

.text_actu{
    text-decoration: solid;
    color: #ffffff;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
}

/* les "block sont les différentes cases permettant de placer les actus */
/* row 1 */
.block1 {
    shape-outside: polygon(0 0, 76% 0, 69% 53%, 0 42%);
    float: left;
    clip-path: polygon(0 0, 76% 0, 69% 53%, 0 42%);
    background-color: #0052A5;
    width: 50%;
    height: 50ex;
}

.block2 {
    shape-outside: polygon(7% 0, 100% 0, 100% 71%, 0 54%);
    float: left;
    clip-path: polygon(7% 0, 100% 0, 100% 71%, 0 54%);
    width: 50%;
    height: 50ex;
    background-color :#98D5ED;
    margin-left:-14%;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
}
/* row2 */
.block3{
    shape-outside: polygon(0 31%, 30% 35%, 90% 95%, 0 100%);
    float: left;
    clip-path:  polygon(0 31%, 30% 35%, 90% 95%, 0 100%);
    width: 50%;
    height: 64ex;
    background-color :#D1EAF5;
    margin-top:-530px;
    padding-bottom: 40px;
}

.block4{
    shape-outside: polygon(0 35.5%, 100% 53%, 100% 89.5%, 44% 94.5%);
    float: left;
    clip-path: polygon(0 35.5%, 100% 53%, 100% 89.5%, 44% 94.5%);
    margin-top: -530px;
    width: 68%;
    height: 64ex;
    background-color : #089CEF;
    margin-left:-32%;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
    padding-bottom: 150px;
}
/* row3 */
.block5{
    shape-outside: polygon(0 50%, 42% 47%, 40% 99%, 0 94%);
    float: left;
    clip-path: polygon(0 50%, 42% 47%, 40% 99%, 0 94%);
    margin-top: -21.5em;
    width: 68%;
    height: 64ex;
    background-color :#1DACD6;
}

.block6{
    shape-outside: polygon(2% 50%, 37% 47%, 39% 97.5%, 0% 94%);
    float: left;
    clip-path: polygon(2% 50%, 37% 47%, 39% 97.5%, 0% 94%);
    margin-top: -50em;
    width: 67%;
    height: 76ex;
    background-color :#9ACEEB;
    margin-left: 28.7%;
}

.block7{
    shape-outside: polygon(2% 50%, 41% 47%, 39% 97.5%, 0% 94%);
    float: left;
    clip-path: polygon(2% 50.9%, 43.3% 48.3%, 43.3% 96%, 4% 93.7%);
    margin-top: -60em;
    width: 75%;
    height: 90ex;
    background-color :#1974D2;
    margin-left: 53.5%;
    padding-left: 16px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: start;
}
/* row4 */
.block8{
    shape-outside: polygon(0% 34%, 100% 41.7%, 36% 77%, 0 71%);
    float: left;
    clip-path: polygon(0% 34%, 100% 41.7%, 36% 77%, 0 71%);
    margin-top: -26.5em;
    width: 60%;
    height: 83ex;
    background-color :#73C2FB;
}

.block9{
    shape-outside: polygon(65.1% 42%, 100% 44%, 144% 100%, 3% 77.8%);
    float: left;
    clip-path: polygon(65.1% 42%, 100% 44%, 144% 100%, 3% 77.8%);
    margin-top: -57.5em;
    width: 63%;
    height: 83ex;
    background-color :#77DDE7;
    margin-left: 23%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
/* row5 */

.block10{
    shape-outside: polygon(0 46%, 62% 56.5%, 70% 100%, 0 100%);
    float: left;
    clip-path: polygon(0 46%, 62% 56.5%, 70% 100%, 0 100%);
    margin-top: -42.5em;
    width: 63%;
    height: 83ex;
    background-color : #9EE7FA;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
}

.block11{
    shape-outside: polygon(5.8% 62.6%, 77.9% 72.8%, 77.9% 100%, 14% 100%);
    float: left;
    clip-path: polygon(5.8% 62.6%, 77.9% 72.8%, 77.9% 100%, 14% 100%);
    margin-top: -66em;
    width: 63%;
    height: 95ex;
    background-color : #1134A6;
    margin-left: 37%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
.p1{
    margin-bottom: 70px;
}
.p2{
    margin-bottom: 110px;
}
.p3{
    margin-top: 27em;
}
.p4{
    margin-bottom: 70px;
}
.p5{
    margin-top: 30em;
}
.p6{
    margin-top: 30em;
}
.p7{
    margin-top: 20em;
}
.p8{
    margin-top: 27em;
}
.p9{
    margin-top: 25em;
}
.p10{
    margin-top: 40em;
}
.p11{
    margin-top: 45em;
}
@media screen and (max-width: 1200px) {
    .text_actu{
        width: 250px;
        font-size: 12px;
        text-align: center;
        margin-left: -40px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 980px) {
    .text_actu{
        width: 220px;
        margin-right: 20px;
    }

    .mainActu {
        width: 96%;
        margin-left: 1em;
        margin-top: 4em;
        padding-top: 0;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
    }
    .block1 {
        shape-outside:none;
        clip-path: none;
        width: 48%;
        height: 15em;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin:1%;
    }
    .block2 {
        shape-outside:none;
        clip-path: none;
        width: 48%;
        height: 15em;
        margin:1%;
        margin-left: 0;
        float: right;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .block3 {
        shape-outside:none;
        clip-path: none;
        width: 48%;
        height: 15em;
        margin-top:0px;
        margin:1%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

    }
    .block4 {
        shape-outside:none;
        clip-path: none;
        width: 48%;
        height: 15em;
        margin-top: 0px;
        margin-left: 0;
        float: right;
        justify-content: center;
        align-items: center;
        margin: 1%;
    }
    .block5 {
        shape-outside:none;
        clip-path: none;
        width: 30%;
        height: 15em;
        margin-top: 0px;
        margin:1%;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: center;

    }
    .block6 {
        shape-outside:none;
        clip-path: none;
        width: 30%;
        height: 15em;
        margin-top: 0px;
        margin-left: 0;
        margin: 1%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;


    }
    .block7 {
        shape-outside:none;
        clip-path: none;
        width: 30%;
        height: 15em;
        margin-top: 0px;
        margin-left: auto;
        margin:1%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: start;
    }
    .block8 {
        shape-outside:none;
        clip-path: none;
        width: 48%;
        height: 15em;
        margin-top: 0px;
        margin-left: auto;
        margin:1%;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: center;
    }
    .block9 {
        shape-outside:none;
        clip-path: none;
        width: 48%;
        height: 15em;
        margin-top: 0px;
        margin-left: auto;
        margin:1%;
        float: right;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .block10 {
        shape-outside:none;
        clip-path: none;
        width: 48%;
        height: 15em;
        margin-top: 0px;
        margin-left: auto;
        margin:1%;
        float: left;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .block11 {
        shape-outside:none;
        clip-path: none;
        width: 48%;
        height: 15em;
        margin-top: 0px;
        margin-left: auto;
        margin:1%;
        float: right;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .p2{
        margin-bottom: 0;
    }
    .p3{
        margin-top: 0;
    }
    .p4{
        margin-bottom: 0;
    }
    .p5{
        margin-top: 0;
    }
    .p6{
        margin-top: 0;
    }
    .p7{
        margin-top: 0;
    }
    .p8{
        margin-top: 0;
    }

}
@media screen and (max-width: 640px){
    .text_actu{
        width: 98%;
        margin-left: -20px;
    }
    .logo{
        margin-top:-275px;
        width: 250px;
        height: 250px;
    }
    .mainActu{
        width: 100%;
        flex-flow: wrap column;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 4em ;
    }
    .block1{
        width: 94%;
    }
    .block2{
        width: 94%;
        margin-left: 1%;
    }
    .block3{
        width: 94%;
    }
    .block4{
        width: 94%;
    }
    .block5{
        width: 94%;
    }
    .block6{
        width: 94%;
    }
    .block7{
        width: 94%;
        align-items: start;
    }
    .block8{
        width: 94%;
    }
    .block9{
        width: 94%;
    }
    .block10{
        width: 94%;
        justify-content: center;
        align-items: center;
    }
    .block11{
        width: 94%;
        align-items: center;
    }

}




.addActu, .editActu, .deleteActu, .editProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    background-color: #DEF7FF;
    padding: 3%;
    height: auto;
}

.addAlbumVendre, .editAlbumVendre, .deleteAlbumVendre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    background-color: #DEF7FF;
    padding: 3%;
}

.addActu h2, .editActu h2, .deleteActu h2, .addAlbumVendre h2, .editAlbumVendre h2, .deleteAlbumVendre h2, .mdp h1, .my-form h1{
    padding-bottom: 3%;
}

#actu_formulaire, #album_formulaire, #registration_form, .mdp_formulaire{
    width: 450px;
}

.deleteActu div, .deleteAlbumVendre div{
    width: 450px;
}

 #registration_form_city, #registration_form_username,#registration_form_first_name, #registration_form_email, #registration_form_adress, #registration_form_postal_code, #registration_form_name, #actu_formulaire_titre, #actu_delete_formulaire_titre, #album_formulaire_titre, #album_formulaire_auteur, #album_formulaire_editeur, #album_formulaire_genre, #album_formulaire_vendeur, #album_formulaire_etat, #album_formulaire_prix, #album_delete_formulaire_titre,  #album_delete_formulaire_auteur, #album_delete_formulaire_editeur, #album_delete_formulaire_date_sortie, #album_delete_formulaire_genre, #album_delete_formulaire_vendeur, #album_delete_formulaire_etat, #album_delete_formulaire_prix{
 width: 100%;
    padding: 1%;
    margin-bottom: 5%;
}

#album_formulaire_date_sortie, #album_delete_formulaire_date_sortie{
    display: flex;
    justify-content: space-evenly;

}

#actu_formulaire_description, #actu_delete_formulaire_description, #album_formulaire_synopsis, #album_delete_formulaire_synopsis{
    width: 100%;
    height: 150px;
    padding:1%;

    margin-bottom: 5%;
}

#actu_formulaire_save, #album_formulaire_save, #registration_form_save, #form_Valider{
    float: right;
    margin-top: 10%;
    height: 40px;
    width: 90px;
    background-color: #1DACD6;
    color: white;
    border: none;
}




.actu_formulaire_delete{
    float: right;
    margin-top: 10%;
    height: 40px;
    width: 80px;
    background-color: #dc3545;
    color: white;
    border: none;
}

#delete_actu, #delete_album{
    padding-bottom: 2%;
    font-size: 17px;
    color: #dc3545;
}


#conditions #general .liste{
    margin-top: 15px;
    display: inline;
}

#conditions #general{
    display: flex;
    justify-content: space-around;
}

footer p{
    display: flex;
    justify-content: center;
    margin-top:150px;
}

.marketLogo, .adminlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2%;
}

.mainMarket, .mainCompte{
    margin: 2%;
}

.bande{
    background-color: #91D1FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 4%;
    height: 90px;
}

.backMarket{
    background-color: #E3F5FF;
    padding: 2%;
}

.blockBDVendre{
    border:5px solid;
    background-color: white;
    margin-bottom: 4%;
    display: flex;
    padding: 1%;
    position: relative;
    align-items: center;

}

.blockBDVendre .info{
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.blockBDVendre p{
    font-size: 20px;
    display: flex;
    flex-flow: column wrap;
    width: 1000px;

    margin-top: auto;
    margin-bottom: auto;

}

.blockBDVendre img{
    margin-right: 15px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.acheter{
    border: 1px solid;
    background-color: white;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
/*partie de la librairie et Maps*/

.table {
    width: 35%;
    margin: 20px;


}

#form{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #DEF7FF;
    padding: 3%;
}
#form div{

    width: 450px;
}

#form_nom, #form_libraire, #form_adresse, #form_telephone{
    width: 100%;
    padding: 1%;
    margin-bottom: 5%;
}

.mainAdmin{
    margin: 2%;
}

.admin{
    margin: auto;
}

.tabMap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.edit{
    background-color: #86afff;
}
.delete{
    background-color: #ff4834;
}
.add{
 background-color: #2ca02c;
    float: right;
}

